<body class="d-flex flex-column mt-5">
  <!-- For demo purpose -->
  <div class="container-fluid flex-grow-1 flex-shrink-0">
    <div class="px-lg-5">
      <div class="row py-5">
        <div class="col-lg-12 mx-auto text-white text-center">
          <h1 class="display-4">- Pache -</h1>
          <p class="lead mb-0">
            Los mejores productos para los mejores clientes.
          </p>
          <p class="lead">
            Sígueme en GitHub
            <a
              target="_blank"
              href="https://github.com/jesusdaniel7"
              class="text-white"
            >
              <u>Jesus Daniel</u></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

  <!-- Footer -->
  <footer class="bg-white">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <img src="img/logo.png" alt="" width="180" class="mb-3" />
          <p class="font-italic text-muted">
            Tienda online en la República Dominicana. Desde hace décadas, Pache
            viene abriéndose paso en el camino del Ecommerce, llegando a
            posicionarse como uno de los mercados online mas grande de su país.
            Actualmente, Pache, ofrece los mejores precios y calidad a nivel
            nacional.
          </p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item">
              <a href="#" target="_blank" title="twitter"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank" title="facebook"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank" title="instagram"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank" title="pinterest"
                ><i class="fa fa-pinterest"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank" title="vimeo"
                ><i class="fa fa-vimeo"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Comprar</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a href="#" class="text-muted">Para Hombres</a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-muted">Para Mujeres</a>
            </li>
            <li class="mb-2"><a href="#" class="text-muted">Apple</a></li>
            <li class="mb-2">
              <a href="#" class="text-muted">Nuestra FanPage</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Compañía</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a href="#" class="text-muted">Acerca de Nosotros</a>
            </li>
            <li class="mb-2"><a href="#" class="text-muted">Marco Legal</a></li>
            <li class="mb-2">
              <a href="#" class="text-muted">Cumplimiento normativo</a>
            </li>
            <li class="mb-2"><a href="#" class="text-muted">Contacto</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Suscripción</h6>
          <p class="text-muted mb-4">
            Para estar al tanto de nuestras novedades, puedes suscribirte aquí.
          </p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input
                type="email"
                placeholder="Escribe tu correo electrónico"
                aria-describedby="button-addon1"
                class="form-control border-0 shadow-0"
              />
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link">
                  <i class="fa fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">
          © 2021 Jesus Daniel Pache - Universidad Continental.
        </p>
      </div>
    </div>
  </footer>
  <!-- End -->
</body>
