<div class="top-message"><h1>Coleccioness</h1></div>

<section class="products-list">
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="http://assets.stickpng.com/images/580b585b2edbce24c47b2747.png"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Mochila Total para jóvenes</h4>
      <div class="price-cart">
        <p>$40.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
 
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/s2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol Ray</h4>
      <div class="price-cart">
        <p>$30.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>

  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://admin.opticasmaux.pe/vistas/img/slide/slide3/iphone.png"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Samsung Galaxy s8 64gb</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol Gucci</h4>
      <div class="price-cart">
        <p>$120.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="http://pngimg.com/uploads/laptop/laptop_PNG101775.png"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Apple Mac i15 8gb</h4>
      <div class="price-cart">
        <p>$700.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://cdn.pixabay.com/photo/2018/12/04/08/55/diamond-3855116_960_720.png"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Cadena de oro con diamante exclusivo</h4>
      <div class="price-cart">
        <p>$4999.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="http://assets.stickpng.com/images/58e344af25b2455e1b159d90.png"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Afeitadora Panasonic v2</h4>
      <div class="price-cart">
        <p>$65.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
  </div>
</section>
