<div class="top-message"><h1>Listado de productos</h1></div>

<section class="container mt-5">
  <table class="table caption-top">
    <caption>
      List of users
    </caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="td-img"><img class="img"  src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg" alt=""></td>
        <td>Gafas de sol</td>
        <td>Gafas de sol para lucir bien.</td>
        <td>
          <a routerLink="" class="btn btn-success">Editar</a> | 
          <a routerLink="" class="btn btn-danger">Eliminar</a>

        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="td-img"><img class="img"  src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg" alt=""></td>
        <td>Gafas de sol</td>
        <td>Gafas de sol para lucir bien.</td>
        <td>
          <a routerLink="" class="btn btn-success">Editar</a> | 
          <a routerLink="" class="btn btn-danger">Eliminar</a>

        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="td-img"><img class="img"  src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg" alt=""></td>
        <td>Gafas de sol</td>
        <td>Gafas de sol para lucir bien.</td>
        <td>
          <a routerLink="" class="btn btn-success">Editar</a> | 
          <a routerLink="" class="btn btn-danger">Eliminar</a>

        </td>
      </tr>
    </tbody>
  </table>
</section>
