<header>
    <nav class="nav">
        <div class="nav-section1">
            <div class=" logo-section">
                <a routerLink="">Pache</a>
            </div>
            <div class="serch-bar">
                <i class="fas fa-search"></i>
                <form class="form-search" action="">
                    <input type="text" onfocus="this.placeholder = ''" class="input-search" placeholder="Buscar algo">
                </form>
            </div>
        </div>
        <div class="nav-section">
            <ul class="nav-list">
                <li class="nav-item"><a routerLink="top">Top</a></li>
                <li class="nav-item"><a routerLink="colecciones">Coleciones</a></li>
                <li class="nav-item"><a routerLink="zapatos">Zapatos</a></li>
                <li class="nav-item"><a routerLink="tecnologia">Tecnología</a></li>
                <li class="nav-item"><a routerLink="administracion/productos/listado">Administración</a></li>
             
            </ul>
        </div>

        <div class="options-section">
            <ul class="ul-section">
                <li class="nav-item"><i routerLink="carrito" class="fas fa-store-alt"></i></li>
                <li class="nav-item"><i routerLink="cuenta/inicio" class="fas fa-user-alt"></i></li>
            </ul>
        </div>
    </nav>

    
</header>