<div class="top-message"><h1>Los artículos tops de este mes</h1></div>

<section class="products-list">
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
    
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
    
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
    
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
    
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
    
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
    
  </div>
  <div class="product">
    <div class="product-img-container">
      <img
        class="product-image"
        src="https://p.w3layouts.com/demos_new/template_demo/07-08-2018/goggles-web_Free/1521872807/web/images/d2.jpg"
        alt=""
      />
    </div>

    <div class="product-info-container'">
      <h4>Gafas de sol</h4>
      <div class="price-cart">
        <p>$575.00</p>
        <a routerLink="/carrito"><i class="fas fa-cart-plus"></i></a>
      </div>
    </div>
    
  </div>  
</section>
